.navbar {
    margin-bottom: 22px;
}

.navbar-brand img {
    width: 32px;
    margin-top: -4px;
}

.btn {

/* border-radius: 50px; */

padding: 6px 20px;
}

.btn-default {

border-color: #00a89b;
}

.btn-primary {

    background-color: #00a89b;

    border-color: #00a89b;
}

.menu {

}

.navbar-left li.menu-item {
    display: inline-block;
    margin: 0 10px;
    padding: 14px 0 0;
}

.navbar-left li.menu-item a {
    padding-top: 0;
}

.search-wrapper {
    position: relative;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-sizing: content-box;
}

.search-wrapper .button {
    position: absolute;
    top: 0;
    right: 0;
}

.search-wrapper input, .search-wrapper input:focus {
    border: 0;
    outline: none;
    background: transparent;
}

.search-wrapper input:focus {

}

.search-wrapper input[type="text"] {
    padding-left: 10px;
    font-size: 12px;
}

.home-welcome {
    text-align: center;
    padding: 10px 0 40px 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #fff;
    color: black;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

#map-box {
}

#map {
    height: 540px;
    width: 100%;
}
#map-box + .col-md-12 {
    margin-top: 35px;
}
#add-business-form{
    top: 20px;
    margin-bottom: 20px;
    position:relative;
}
@media (min-width:992px){
    #add-business-button-container{
    /* position:absolute; */
    }
}
input#add-business-button {
    margin: 50px 10px;
}

@media (min-width:768px){

    #available-hours-time{
        position:relative;
        top: 24px;
    }
    .align-left{
        text-align:left!important;
    }
    
    #add-business-form>div.col-md-5:nth-child(1){
    margin-bottom:80px;
}
}

